.content-text {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
        /*Контент занимает 70% ширины страницы + Контент выровнен по середине..*/
    border: solid 1px gray;
    background-color: antiquewhite;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin: 5px 20px;
}

h2, .allens-landing , .sam, h3, figcaption {
    margin: 5px 20px;
}

p {
    margin: 5px 20px;
    font-size: 17px;
    font-weight: 400;
}
/*Картинка красиваяя по сайту!*/
body {
    background: url(https://gas-kvas.com/uploads/posts/2022-06/1654576989_2-gas-kvas-com-p-beautiful-photos-of-the-city-houston-2.jpg) no-repeat fixed;
}

/*Верхний отступ заголовков установлен больше нижнего (например, 1.5em) */
h1,
h2,
h3,
ul {
    font-family: Verdana, sans-serif;
    margin: 1.5em 20px 0 20px;}

.top {
    width: 100%;
    height: 400px;
}

/*Картинки обтекаются текстом. Картинки справа, текст слева.*/
figure {
    width: 25%;
    float: right;
}
